{% extends "base.html" %}
{% load static %}


{% block title %}Karting speed | Events{% endblock title %}


{% block main %}
    <main class="main-section font-formula1">
        {% for event in events %}
            <p><img src="{{ event.logo.url }}" alt="" width="60" height="60"></p>
            <p>{{ event.date_of_start }} - {{ event.date_of_end }}</p>
            <p>{{ event.country }}</p>
            <p>{{ event.title }}</p>
            <button><a href="{% url 'event_detail' event.id %}">Explore event</a></button>
            <br><br>
        {% endfor %}
    </main>
{% endblock main %}