{% extends "base.html" %}
{% load static %}


{% block title %}Karting speed | Events{% endblock title %}


{% block main %}
<main class="event-list z-2">
  <div class="wrapper">

    <form action="{% url 'event-list' %}" method="get">
      <select name="y" onchange="this.form.submit()">
        <option style="color: black;" value="all" {% if selected_year == "all" or not selected_year %}selected{% endif %}>All</option>
        {% for year in years %}
          <option style="color: black;" value="{{ year }}" {% if year|stringformat:"s" == selected_year %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
      </select>
    </form>       
    
    <div class="event__container flex flex-col px-10 py-12 gap-2">
      {% for event in events %}
        {% ifchanged event.date_of_start|date:"Y" %}
          <p>{{ event.date_of_start|date:"Y" }}</p>
        {% endifchanged %}
        <div class="event__item-wrap">
          <div class="event__item flex-align-center justify-between p-2">
            <div class="event__start flex-align-center gap-2 w-[30%]">
              <img src="{{ event.logo.url }}" alt="" width="60" height="60">
              <div class="event__time flex flex-col text-nowrap">
                <p>&nbsp;{{ event.date_of_start|date:"d" }} &nbsp;-&nbsp; {{ event.date_of_end|date:"d" }}</p>
                <p>{{ event.date_of_start|date:"M" }} {{ event.date_of_end|date:"M" }}</p>
              </div>
            </div>
            <div class="event__info flex flex-col w-[45%]">
              <p class="event__country text-xl">{{ event.country }}</p>
              <p class="event__title font-formula1 text-sm">{{ event.title }}</p>
            </div>
            <button class="button event__button font-extralight text-base">
              <a href="{% url 'event_detail' event.id %}">Explore event</a>
            </button>
          </div>
        </div>
      {% endfor %}
       
    </div>
  </div>
</main>
{% endblock main %}
