{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block links %}
  <!-- index CSS -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock links %}


{% block title %}Karting speed{% endblock title %}


{% block main %}
  <main class="main-page">
    <div class="start">
      <div class="overlay"></div>
      <video autoplay muted loop class="video-bg">
        <source src="{% static 'video/main/video.mp4' %}" type="video/mp4">
        {% trans "Your browser does not support the video tag." %}
      </video>
      <div class="wrapper">
        <div class="start__event event flex flex-col max-w-2xl w-full">
          <div class="event__content font-formula1 flex pr-6 py-1">
            <div class="event__wrap flex-align-center ml-auto gap-3">
            <div class="flex flex-col gap-2.5 py-2">

              <p class="uppercase text-xs">{% trans "next event" %}</p>
              {% if next_event %}
              <p class="next-event-id underline text-xl"><a href="{% url "event_detail" next_event.id %}">{{ next_event.title }}</a></p>

              {% else %}
              <p class="text-lg">{% trans "There are no new events :(" %}</p>
              {% endif %}
            </div>
              <div class="h-full w-0.5 bg-white mx-2"></div>
            <button class="btn-events"><a class="text-nowrap" href="{% url 'event-list' %}">{% trans "Events" %} &rarr;</a></button>
          </div>
          </div>
          <input type="hidden" id="next_event_time" value="{{ next_event_time }}">
          <div class="event__countdown countdown w-[97%] py-3" id="countdown">
            <div class="event__frame flex-center">
              <div class="event__img pic mr-4" style="background-image: url('{{ next_event.logo.url }}')"><a
                  href="event-page.html"></a></div>
              <div class="flex-center gap-2 font-formula1">
                <div class="countdown__item">
                  <span id="countdown__days">0</span>
                  <small>{% trans "DAYS"|upper %}</small>
                </div>
                <div class="countdown__item">
                  <span id="countdown__hours">0</span>
                  <small>{% trans "HOURS"|upper %}</small>
                </div>
                <div class="countdown__item">
                  <span id="countdown__mins">0</span>
                  <small>{% trans "MINS"|upper %}</small>
                </div>
                <div class="countdown__item">
                  <span id="countdown__secs">0</span>
                  <small>{% trans "SECS"|upper %}</small>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <section class="rating pl-20 pr-24 pt-16">
        <div class="wrapper">
          <h2 class="rating__head head head_left-line text-6xl mb-[2rem]" id="message">{% trans "Rating" %}</h2>

          <div class="rating__content flex justify-between">

            <div class="rating__table w-[45%] font-formula1 grid flex-col items-center">
              <div class="table">
              <table class="bg-inherit table-auto w-full">
                <thead class="thead-light h-[4.2rem]">
                <tr>
                  <th scope="col m-auto" class="w-[15%]"></th>
                  <th scope="col" class="text-center">{% trans "NAME"|upper %}</th>
                  <th scope="col" class="text-center">{% trans "COUNTRY"|upper %}</th>
                  <th scope="col" class="text-center">{% trans "LAP TIME"|upper %}</th>
                  <th scope="col" class="text-center">{% trans "SCORE"|upper %}</th>
                </tr>
                </thead>
                <tbody>
                <!-- If we don't have an event -->
                {% if not statistic %}
                <tr class="h-[9rem]">
                  <th scope="row" class="w-[126px] px-2">1</th>
                  <td class="w-[180px]"></td>
                  <td class="w-[180px]"></td>
                  <td class="w-[180px]"></td>
                  <td class="w-[180px]"></td>
                </tr>
                <tr class="h-[9rem]">
                  <th scope="row" class="w-[126px]">2</th>
                  <td class="w-[180px]"></td>
                  <td class="w-[180px]"></td>
                  <td class="w-[180px]"></td>
                  <td class="w-[180px]"></td>
                </tr>
                <tr class="h-[9rem]">
                  <th scope="row" class="w-[126px]">3</th>
                  <td class="w-[180px]"></td>
                  <td class="w-[180px]"></td>
                  <td class="w-[180px]"></td>
                  <td class="w-[180px]"></td>
                </tr>
                {% else %}
                <!-- If we have an event - we init an statistic -->
                <p class="event_detail mb-8"><a class="underline" href="{% url 'event_detail' event.id %}">{{ event.title }}</a>
                </p>
                {% for stat in statistic %}
                <tr class="h-[9rem]">
                  <th scope="row" class="w-[126px]">{{ forloop.counter }}</th>
                  <td class="w-[180px] text-center"> {{ stat.player__name }}</td>
                  <td class="w-[180px] text-center"> {{ stat.player__nationality }}</td>
                  <td class="w-[180px] text-center"> {{ stat.lap_time }}s</td>
                  <td class="w-[180px] text-center"> {{ stat.points }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>
              </div>
              <button class="uppercase button explore-btn justify-self-center" onClick={explore}>{% trans "Explore" %}</button>
            </div>

            <div class="lane bg-[#FCD700]"></div>

            <div class="flex-align-center flex-col gap-9">
              <div class="contact-us">
                <div class="contact-us__content">
                  <h2 class="head head2 head_left-line text-3xl mb-6">
                    {% trans "Contact Us" %}
                  </h2>

                  <!-- Notification about successful sent email -->
                  {% if messages %}
                  <div class="alert alert-success">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}

                  <div class="card-body font-formula1 bg-[#0D3242] p-4 rounded-3xl max-w-xs">
                    <form class="flex flex-col gap-2" method="post" action="{% url 'send_email' %}#message">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="email">{% trans "Your email" %}</label>
                        <input type="email" class="form__control bg-inherit" id="email" name="email"
                              placeholder="{% trans "Enter your email" %}" required/>
                      </div>
                      <div class="form-group">
                        <label for="message">{% trans "Your text" %}</label>
                        <textarea class="textarea form__control h-[200px] bg-inherit text-white" id="message" name="message"
                                  rows="3" placeholder="{% trans "Enter your message" %}" required></textarea>
                      </div>
                      <button type="submit" class="button send-btn rounded-lg mt-[12px] text-xl" onClick={sendMessage}>
                        {% trans "Send message" %}
                      </button>
                    </form>
                  </div>
                </div>

              </div>
              <div class="video-frame">
                <video class="" width="320" height="220" controls autoplay muted loop>
                  <source src='{% static "video/main/video.mp4" %}' type="video/mp4">
                  {% trans "Your browser does not support the video tag." %}
                </video>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="partners px-9 pt-16">
        <div class="wrapper">
          <h2 class="partners__head text-center mb-12 head head_bottom-line text-4xl" id="partners"> {% trans "Partners" %} </h2>
          <div class="partners__content flex justify-evenly flex-wrap  gap-3">
            {% if partners %} <!-- If partners > 0: show partners. else: show the partner stub -->
            {% for partner in partners %}
            <div class="partners__frame">
              <!-- If partner site url == True: show url and open url on the blank page. else: show partner block on the current page -->
              <a
                  {% if partner.url %}
                  target="_blank" rel="noopener noreferrer" href="{{ partner.url }}"
                  {% else %}
                  href="#partners"
                  {% endif %}>
                <img src="{{ partner.logo.url }}" alt="{{ partner.name }}"></a>
            </div>
            {% endfor %}
            {% else %}
            <div class="partners__frame">
              <img src="/static/img/main/partner1.png" alt="Image">
            </div>
            {% endif %}
          </div>
        </div>
    </section>

    <section class="news pt-16">
        <div class="wrapper">
          <h2 class="news__head head head2 head_left-line text-3xl mb-12 pl-24">
            {% trans "Last News" %}
          </h2>
          <div class="news__wrapper h-60 flex">
            <div class="news__content pl-24 py-1.5 pr-2 flex h-full gap-5">
              {% for news in news %}
              <div class="news__item flex flex-col text-center">
                <div class="news__frame bg-white h-[82%] w-full pic"
                    style=" background-image: url('{{ news.image.url }}')"></div>
                <a href="{% url 'news-detail' news.id %}" class="news__explore-btn uppercase button"><button>{% trans "Explore" %}</button></a>
              </div>
              {% endfor %}
            </div>
            <div class="news__stripes h-full flex-1"></div>
          </div>
        </div>
    </section>

    <section class="gallery pt-16">
        <div class="wrapper">
          <h2 class="gallery__head head head2 head_left-line text-3xl pl-24">
            {% trans "gallery" %}
          </h2>
          <div class="gallery__photos flex flex-col js-flickity mb-16"
              data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
            <!-- Photos -->
            {% for pic in gallery %}
            <div class="gallery-cell"><img class="gallery-cell" src="{{ pic.image.url}}" alt="photo"></div>
            {% endfor %}
          </div>
        </div>
    </section>
  </main>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="{% static 'js/main/event-countdown.js' %}"></script>
<script src="{% static 'js/main/for-header.js' %}"></script>
{% endblock main %}
