{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karting</title>
  <!-- Tailwind CSS -->
  <link href="{% static "css/main/main.css" %}" rel="stylesheet">
  <link href="{% static "css/main/output.css" %}" rel="stylesheet">
  <link href="{% static 'img/main/simple-logo.jpg' %}" rel="icon" type="image/x-icon">
</head>
<body class="black">
<main class="main-page m-auto">
  <div>
      <div class="start relative z-2">
        <div class="wrapper relative z-10 flex flex-col">
          <header class="header relative z-2 flex justify-between py-8 px-4">
            <div class="for-blur"></div>
            <div class="header__logo flex justify-center items-center gap-4">
              <div class="karting-head pic"></div>
              <h2 class="news__head head head2 text-2xl uppercase">
                Karting speed
              </h2>
            </div>
            <div class="navbar flex font-formula1 px-16 py-1.2 items-center gap-x-10 text-xl">
              <p class="navbar__link">corporate</p>
              <p class="navbar__link">services</p>
              <p class="navbar__link">our team</p>
              <p class="navbar__link">about us</p>
            </div>
          </header>

          <div class="start__info flex gap-9 self-end pr-10">
            <div class="flex flex-col items-center gap-3">
              <img class="message-icon" src="/static/img/main/youtube_icon.svg" alt="youtube_icon">
              <p class="start__language font-formula1 text-xs">Tur</p>
            </div>
            <div class="flex flex-col items-center gap-3">
              <img class="message-icon" src="/static/img/main/facebook_icon.svg" alt="youtube_icon">
              <p class="start__language font-formula1 text-xs">Ru</p>
            </div>
            <div class="flex flex-col items-center gap-3">
              <img class="message-icon" src="/static/img/main/inst_icon.svg" alt="youtube_icon">
              <p class="start__language font-formula1 text-xs">Eng</p>
            </div>
          </div>
        </div>
      </div>

      <!-- URL - /event/id/?cat=junior or /event/id/ -->

      <section class="main-section font-formula1">
        <p>{{ player.name }} {{ player.surname }} | {{ player.nationality }}:</p><br><br>
        <p>Events:</p><br>
        {% for event in events %}
          <p><a href="{% url 'event_detail' event.id %}">{{ event }}</a> | {{ event.date_of_start }} - {{ event.date_of_end }}</p><br>
        {% endfor %}
      </section>
      
      

      <footer class="footer">
        <div class="wrapper">
          <div class="top-line"></div>
        <div class="footer__content pt-12 pb-8 px-24">
          <div class="flex justify-between items-center">
          <div class="flex gap-12">
            <a href="https://instagram.com" target="_blank"> <img class="message-icon"
                                                                  src="/static/img/main/inst_icon.svg"
                                                                  alt="inst_icon"></a>
            <a href="https://facebook.com" target="_blank"> <img class="message-icon"
                                                                src="/static/img/main/facebook_icon.svg"
                                                                alt=facebook"></a>
            <a href="https://youtube.com" target="_blank"><img class="message-icon"
                                                               src="/static/img/main/youtube_icon_1.svg"
                                                               alt="youtube_icon"></a>
          </div>
            <div class="flex flex-col font-formula1 text-xl gap-4">
              <div class="flex gap-1"> <img class="message-icon" src="/static/img/main/phone.svg" alt="phone">
                <p class="text-right"> </a> <a href="tel:+905338876280" class="text-white">+905338876280</a></p>
              </div>
              <div class="flex gap-2"> <img class="message-icon" src="/static/img/main/envelope.png" alt="envelope">
                <p class="text-right"><a href="mailto:kartingspeedacademy@gmail.com" class="text-white">kartingspeedacademy@gmail.com</a></p>
              </div>
            </div>

          </div>
        <p class="text-white text-2xl text-center mt-10">&copy; 2024 KARTING SPEED</p>
        </div>
        </div>
      </footer>

    </div>


    </div>
</main>
<script src="{% static 'js/main/event-countdown.js' %}"></script>
</body>
</html>
