{% extends "base.html" %}
{% load static %}

{% block links %}
  <!-- player-detail CSS -->
{% endblock links %}

{% block title %}Karting speed | Player{% endblock title %}


{% block main %}
  <main class="main-section font-formula1">
    <p>{{ player.name }} {{ player.surname }} | {{ player.nationality }}:</p><br><br>
    <p>Events:</p><br>
    {% for event in events %}
      <p><a href="{% url 'event_detail' event.id %}">{{ event }}</a> | {{ event.date_of_start }} - {{ event.date_of_end }}</p><br>
    {% endfor %}
  </main>
{% endblock main %}