.event__item {
  z-index: 5;
  border: 1px solid rgba(14, 60, 122, 0.75);
}

.event__years, .event__years[multiple] {
  padding: 0.25rem;
  background: rgb(3, 25, 77);
  border: 1px solid rgba(14, 60, 122, 0.75);
}

.event__years:enabled {
  border: 1px solid rgba(14, 60, 122, 0.75);
}

.event__item {
  margin: .26rem;
}

.event__icon {
  height: 50px;
  width: 50px;
}

.event__date {
  font-size: 2rem;
}

.event__month {
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  font-size: 0.7rem;
}

.event__times {
  line-height: 1;
}

.event__info {
  width: 45%;
}

@media (max-width: 1370px) {

  .event__country {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }

  .event__info {
    width: 30%;
  }
}


@media (max-width: 870px) {

  .event__item {
    flex-direction: column;
    align-items: normal;
  }

  .height-190 {
    height: 190px;
  }

   .event__start {
    align-self: start;
  }

  .event__start {
    width: auto;
  }

  .event__item {
    gap: 12px;
  }

  .event__item-wrap {
    width: 237px;
  }

  .event__info {
    width: auto;
  }

  .event__title {
    font-size: 0.6rem;
    line-height: 0.75rem;
  }

  .event__button {
    align-self: start;
  }

  .footer__header {
    font-size: 1rem;
  }

}
