table {
  margin: auto;
  width: 100%;
  border: none;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

td, th {
  border: 1px solid #000;
  padding: 20px;
}

table thead th, table tr td {
  border: 1px solid #ddd;
}

.event__title_img {
  width: 70px;
}

.category-btn:hover {
  color: #FFFFFF;
}

.dash {
  width: 15px;
  height: 3px;
  background-color: #FFFFFF;
}

.label {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: left;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 0.6rem;
  height: 100%;
  letter-spacing: 1px;
  top: 0;
  left: -.05rem;
  padding: 0 1px;
}

.green-label {
  background-color: #0ad386;
}

@media (max-width: 750px ) {

  .event__title_text {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .event__country {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }

  .event__date {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }

  .event__desc {
    margin-top: 0.75rem;
  }

  .event__desc, .table-desc {
    font-size: 0.75rem; /* 12px */
    line-height:1rem; /* 16px */
  }

  td, th {
    padding: 10px 5px;
  }

  table {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }

  .label {
    font-size: 0.3rem;
    line-height: normal;
  }

}

@media (max-width: 450px ) {

  table {
    font-size: 0.5rem;
  }

  td, th {
    padding: 3px;
  }

  .event__desc, .table-desc {
    font-size: 0.5rem;
    line-height: 0.7rem;
  }

  .btn-container {
    column-gap: 0.5rem;
    font-size: 0.65rem;
    line-height: 0.8rem;
  }

  .event__date {
    font-size: 0.7rem;
    line-height: 1rem;
  }

}
