.gallery__item {
  min-height: 7.8rem;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  margin-bottom: 2.1rem;
  height: 576px;
  width: 900px;
}

.gallery__item .title-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 226, 147, 0.77);
  left: 0;
  bottom: 0;
  align-items: flex-end;
  padding: 10px 2rem;
  gap: 1rem;
}

.gallery__item img {
    width: 100%;
    height: 576px;
    object-fit: cover;
} 
.photo__date {
  -webkit-text-stroke: 2px #003062CC;
  text-transform: uppercase;
  color: #003062CC;
  font-size: 1.2rem;
}

.photo__title {
  max-width: 23.7rem;
  transition: max-height .5s;
  font-size: 1rem;
}

@media (max-width: 930px) {

  .gallery__item {
    width: 100%;
    height: auto;
}

}

@media (max-width: 570px) {

  .gallery__wrapper {
    padding: 3rem 1.5rem 1rem;
  }

  .gallery__item, .gallery__item img {
    height: 300px;
  }

  .photo__title {
    font-size: 0.75rem;
  }

  .photo__date {
    -webkit-text-stroke: 1px #003062CC;
    font-size: 0.8rem;
  }

  .gallery__item .title-overlay {
    gap: 0.5rem;
  }

}
