button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.start {
  background-image: url('/static/img/main/depositphotos.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 752px;
  margin: auto;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
}

.custom-gradient {
  background: linear-gradient(to bottom,  rgba(0,15,52,1) 0%,rgba(0,66,132,1) 100%);
}

table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

table thead th {
  border: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

table tbody td {
  text-align: left;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

table thead tr th:first-child, table tbody tr td:first-child {
  border-left: none;
}

table thead tr th:last-child, table tbody tr td:last-child {
  border-right: none;
}

table tbody tr:first-child {
  border-top: 1px solid #FFFFFF;
}

table tbody tr:nth-child(even) {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
