@font-face {
  font-family: 'Pro Racing Slant';
  src: url('/static/fonts/ProRacingSlant-w1Mo9.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formula1';
  src: url('/static/fonts/Formula1-Regular-1_RsxQwb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  .font-pro-racing {
    font-family: 'Pro Racing Slant', sans-serif;
  }

  .font-formula1 {
    font-family: 'Formula1', sans-serif;
  }
}

body {
  @apply font-pro-racing;
  background-color: black;
}

:root {
  --green: #00c57a;
  --yellow: #FCD700;
  font-family: 'Pro Racing Slant', sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

body {
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  color: #FFFFFF !important;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.header {
  right: 0;
  left: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.background-black {
  background-color: rgba(30, 30, 30);
}

.dark-blue {
  color: #003062
}

.light-green {
  color: var(--green);
}

.yellow {
  color: var(--yellow:);
}

.button {
  font-family: 'Pro Racing Slant', sans-serif;
  z-index: 3;
  border: none;
  background-color: var(--green);
  padding: 5px 20px;
  color: #003062;
  touch-action: manipulation;
  letter-spacing: normal;
}

.button:hover {
  background-color: #0ad386;
}

.head {
  text-transform: uppercase;
}

.head2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.head_left-line:before {
  content: "|";
  font-family: "Arial", sans-serif;
  display: inline;
  color: var(--yellow);
}

.head_bottom-line {
  text-decoration: underline solid 3px var(--yellow);
  text-underline-offset: 0.4em;
}

@media (max-width: 1250px) {

  .news__head {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }

  .navbar {
    gap: 1.25rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
  }

}

@media (max-width: 850px) {
  .footer__content {
    flex-direction: column;
    gap: 25px
  }
}

@media (max-width: 690px) {
  .navbar {
    display: none;
  }

  .footer__info {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .footer__info {
    font-size: 0.5rem;
  }
}

