{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block links %}
<!-- Gallery-list CSS -->
<link href="{% static 'css/gallery-list.css' %}" rel="stylesheet">
{% endblock links %}

{% block title %}Karting speed | Gallery{% endblock title %}


{% block main %}
<main class="gallery-list font-formula1">
  <div class="wrapper">
    <div class="gallery__wrapper flex flex-col px-10 py-12 gap-2">
      <h2 class="gallery__head text-center mb-12 head head_bottom-line text-4xl" id="partners"> {% trans "Gallery" %}</h2>

      <div class="flex-center flex-col">
      {% for image in gallery %}
      <figure class="gallery__item">
        <div class="photo relative">
          <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="{{ image.title }}"></a>
          <figcaption class="title-overlay">
            <p class="photo__title">{{ image.title }}</p>
            <p class="photo__date"><strong>{{ image.created_at }}</strong></p>
          </figcaption>
        </div>
      </figure>
      {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock main %}
