{% extends "base.html" %}
{% load static %}

{% block links %}
<!-- Tracks CSS -->
{% endblock links %}

{% block title %}Karting speed | Tracks{% endblock title %}


{% block main %}
<main class="tracks font-formula1">
  <div class="wrapper">
    <div class="tracks__wrapper flex flex-col px-10 py-12 gap-2">
      <h1>Season Tracks</h1>
      {% for track in tracks %}
      <p>{{ track.track }}</p>
      <img src="{{ track.image.url }}" alt="{{ track.track }}">
      {% endfor %}
    </div>
  </div>
</main>
{% endblock main %}
