{% extends "base.html" %}
{% load static %}

{% block links %}
<!-- Tracks CSS -->
<link href="{% static 'css/tracks.css' %}" rel="stylesheet">
{% endblock links %}

{% block title %}Karting speed | Tracks{% endblock title %}


{% block main %}
<main class="tracks font-formula1">
  <div class="wrapper">
    <div class="tracks__wrapper flex flex-col px-10 py-12 gap-2">
      <h1 class="tracks__head head2 text-center mb-12 head head_bottom-line text-4xl"> Season Tracks</h1>

      <div class="tracks-list flex flex-col gap-6">
        {% for track in tracks %}
        <div class="tracks__item flex-col flex-align-center">
          <p class="tracks__name text-center">{{ track.track }}</p>
          <img class="tracks__img max-w-[580px] w-full" src="{{ track.image.url }}" alt="{{ track.track }}">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock main %}
