{% extends "base.html" %}
{% load static %}

{% block links %}
<!-- News CSS -->
{% endblock links %}

{% block title %}Karting speed | News{% endblock title %}


{% block main %}
<main class="news font-formula1">
  <div class="wrapper">
    <div class="news__wrapper flex flex-col px-10 py-12 gap-2">
      <h2 class="news__head text-center mb-12 head head_bottom-line text-4xl" id="partners">News</h2>
      <div class="news-container flex-center flex-wrap gap-6">
        {% for news in news %}
        <div class="news__item bg-white flex h-[150px] max-w-[420px] w-full">
          <a  class="w-full" href="{% url 'news-detail' news.id %}">
            <div class="flex gap-4 w-full">
              <div class="news__img"><img class="h-[150px] w-[210px]" src="{{ news.image.url }}" alt="{{ news.title }}"></div>
              <div class="news__desc flex flex-col text-gray-600 py-5 pr-2">
                <p class="news__title text-xs mb-3 tracking-normal">{{ news.title }}</p>
                <p class="news__content text-xs mb-3">{{ news.content|truncatechars:45 }}</p>

                {% if news.updated_at != news.created_at %}
                <p class="news__date mb-1">Update: {{ news.updated_at }}</p>
                {% else %}
                <p class="news__date">Create: {{ news.created_at }}</p>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock main %}
