{% extends "base.html" %}
{% load static %}

{% block links %}
<!-- News CSS -->
<link href="{% static 'css/news-list.css' %}" rel="stylesheet">
<link href="{% static 'css/pagination.css' %}" rel="stylesheet">
{% endblock links %}

{% block title %}Karting speed | News{% endblock title %}


{% block main %}
<main class="news font-formula1">
  <div class="wrapper">
    <div class="news__wrapper flex flex-col px-10 py-12 gap-2">
      <h2 class="news__head text-center mb-12 head head_bottom-line text-4xl" id="partners">News</h2>
      <div class="news-container flex-center flex-wrap gap-6">
        {% for news in news %}
        <div class="news__item_wrap bg-white flex h-[150px] max-w-[550px] w-full">
          <a  class="w-full" href="{% url 'news-detail' news.id %}">
            <div class="news__item flex gap-4 w-full">
              <div class="overflow-hidden"><img class="news__img overflow-hidden" src="{{ news.image.url }}" alt="{{ news.title }}"></div>
              <div class="news__desc flex flex-col text-gray-600 py-5 pr-2">
                <p class="news__title text-xs mb-3 tracking-normal">{{ news.title }}</p>
                <p class="news__content text-[0.6rem] mb-3">{{ news.content|truncatechars:45 }}</p>

                {% if news.updated_at != news.created_at %}
                <p class="news__date mb-1">Update: {{ news.updated_at }}</p>
                {% else %}
                <p class="news__date">Create: {{ news.created_at }}</p>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if news.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ news.previous_page_number }}{% if selected_year %}&y={{ selected_year }}{% endif %}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{ news.previous_page_number }}{% if selected_year %}&y={{ selected_year }}{% endif %}">{{ news.previous_page_number }}</a></li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        <li class="page-item active" aria-current="page">
          <a class="page-link">{{ news.number }}</a>
        </li>

        {% if news.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ news.next_page_number }}{% if selected_year %}&y={{ selected_year }}{% endif %}">{{ news.next_page_number }}</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ news.next_page_number }}{% if selected_year %}&y={{ selected_year }}{% endif %}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</main>
{% endblock main %}

