{% extends "base.html" %}
{% load static %}

{% block links %}
<!-- News CSS -->
{% endblock links %}

{% block title %}Karting speed | News {{ news.id }}{% endblock title %}


{% block main %}
<main class="mews-detail font-formula1">
  <div class="wrapper">
    <div class="news-detail__wrapper flex px-10 py-12 gap-2">
      <div class="news-detail__content flex flex-col max-w-[800px]">
        <h1 class="text-[#45F197FF] mb-7">{{ news.title }}</h1>
        <img class="max-h-[500px] max-w-[800px] w-full" src="{{ news.image.url }}" alt="{{ news.title }}">
        <p class="mt-6 mb-3">{{ news.content }}</p>
        {% if news.documents %}
        <p class="mb-2"><a href="{{ news.documents.url }}" download>{{ news.documents }}</a></p>
        {% endif %}
        {% if news.updated_at != news.created_at %}
        <p class="detail_date mb-3"> Update: {{ news.updated_at }}</p>
        {% else %}
        <p class="detail_date">Create: {{ news.created_at }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock main %}
