{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link href="{% static 'img/main/simple-logo.jpg' %}" rel="icon" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <!-- Tailwind CSS -->
  <!-- all CSS -->
  <link href="{% static 'css/main/output.css' %}" rel="stylesheet">
  <link href="{% static 'css/main/styles.css' %}" rel="stylesheet">
  <link href="{% static 'css/main/hamburger.css' %}" rel="stylesheet">
  {% block links %}
  {% endblock links %}
</head>
<body class="black custom-gradient">
<div class="blackout"> </div>

<header class="header z-[4]">
  <div class="wrapper flex flex-col">
    <div class="header__container flex flex-col py-8 px-4 gap-4">
      <div class="header__content flex justify-between relative">
        <div class="for-blur"></div>
        <div class="header__logo flex-center gap-4">
          <div class="karting-head pic"></div>
          <h2 class="news__head head head2 text-2xl uppercase">
            <a href="{% url "index" %}">
            Karting speed
            </a>
          </h2>
        </div>

        <div class="navbar">
          <div class="hamburger">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
              <span class="line line4"></span>
            </div>
           <div class="navbar__items flex-center font-formula1 px-16 py-3 gap-10 text-xl text-nowrap">
             <p class="navbar__link link"><a href="{% url 'event-list' %}">{% trans "Events" %}</a></p>
             <p class="navbar__link link"><a href="{% url 'tracks' %}">{% trans "tracks" %}</a></p>
             <p class="navbar__link link"><a href="{% url 'news-list' %}">{% trans "news" %}</a></p>
             <p class="navbar__link link"><a href="{% url 'gallery-list' %}">{% trans "gallery" %}</a></p>
             <p class="navbar__link link">{% trans "our team" %}</p>
           </div>
          </div>
        </div>
      </div>
        <div class="header__info flex gap-9 self-end font-formula1 text-xs">
          <div class="flex-center flex-col gap-3">
            <img class="header__icon" src="/static/img/main/turkey.png" alt="turkey_icon">
            <p class="header__language">
              <a class="cursor-pointer" onclick="changeLanguage('tr')">
                Tur
              </a>
            </p>
          </div>
          <div class="flex-center flex-col gap-3">
            <img class="header__icon" src="/static/img/main/united-kingdom.png" alt="uk_icon">
            <p class="header__language">
              <a class="cursor-pointer" onclick="changeLanguage('en')">
                Eng
              </a>
            </p>
          </div>
        </div>
    </div>
  </div>
  <script>
      function changeLanguage(lang) {
          var newUrl = window.location.pathname.replace(/^\/[a-z]{2}\//, '/' + lang + '/');
          window.location.href = newUrl;
      }
  </script>
</header>

{% block main %}

{% endblock main %}

{% if not is_homepage %}
<section class="partners px-9 pt-16">
    <div class="wrapper">
      <h2 class="partners__head text-center mb-12 head head_bottom-line text-4xl" id="partners"> {% trans "Partners" %} </h2>
      <div class="partners__content flex justify-evenly flex-wrap gap-3">
        {% if partners %} <!-- If partners > 0: show partners. else: show the partner stub -->
        {% for partner in partners %}
        <div class="partners__frame">
          <!-- If partner site url == True: show url and open url on the blank page. else: show partner block on the current page -->
          <a
              {% if partner.url %}
              target="_blank" rel="noopener noreferrer" href="{{ partner.url }}"
              {% else %}
              href="#partners"
              {% endif %}>
            <img src="{{ partner.logo.url }}" alt="{{ partner.name }}"></a>
        </div>
        {% endfor %}
        {% else %}
        <div class="partners__frame">
          <img src="/static/img/main/partner1.png" alt="Image">
        </div>
        {% endif %}
      </div>
    </div>
</section>
<br>
<br>
<br>
{% endif %}

<footer class="footer">
  <div class="wrapper">
    <div class="top-line"></div>
    <div class="footer__container pt-12 pb-8 px-24">
      <div class="footer__content flex-align-center justify-between">
        <div class="flex gap-9">
          <a href="https://instagram.com" target="_blank"> <img class="footer__icon"
                                                                src="/static/img/main/inst_icon.svg"
                                                                alt="inst_icon"></a>
          <a href="https://facebook.com" target="_blank"><img class="footer__icon"
                                                              src="/static/img/main/facebook_icon.svg"
                                                              alt=facebook"></a>
          <a href="https://youtube.com" target="_blank"><img class="footer__icon"
                                                             src="/static/img/main/youtube_icon_1.svg"
                                                             alt="youtube_icon"></a>
        </div>
        <div class="footer__info flex flex-col font-formula1 text-xl gap-4">
          <div class="flex gap-1"><img class="message-icon" src="/static/img/main/phone.svg" alt="phone">
            <p class="text-right"> </a> <a href="tel:+905338876280" class="text-white">+905338876280</a></p>
          </div>
          <div class="flex gap-2"><img class="message-icon" src="/static/img/main/envelope.png" alt="envelope">
            <p class="text-right"><a href="mailto:kartingspeedacademy@gmail.com" class="text-white">kartingspeedacademy@gmail.com</a>
            </p>
          </div>
        </div>

      </div>
      <p class="footer__header text-white text-2xl text-center mt-10">&copy; 2024 KARTING SPEED</p>
    </div>
  </div>
</footer>

<script src="{% static 'js/main/hamburger.js' %}"></script>
</body>
</html>

